.box{
    width: 350px;
    background-color: rgb(204, 204, 130);
    --border: 5px solid black;
    margin: 60px auto;
    padding: 75px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    border-radius: 8px;
}
.inside{
    padding: 5px;
    margin-bottom: 15px;
}
.font{
    font-size: 12px;
    width: 100%;
    margin-top: -10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 25px;
}

.btn{
    width: 45%;
    padding: 9px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    border: 15px;
    border-radius: 60px;
}



